Support BigFloat

I briefly scanned through the code and I don’t believe this crate supports BigFloat as defined in RFC 8949 section 3.4.4. I believe rust-decimal is the most common crate implementing this type of structure. I’m happy to submit a PR if needed. I could use pointers to implement it correctly the first time. Or let me know if you it’s outside the scope of this crate.